.futter01{
  background-color: rgba(0, 0, 0, 0.951);
    /* background-color: black; */
}
.futter0{
  margin: 0 auto;
  max-width: 2000px;
}
.futterbody {
  /* background-color: rgb(0, 0, 0, 0.951); */
  padding: 10% 15%;
}

@media (max-width: 414px) {
  .futterbody { 
      padding: 18% 15% 15% 15%;

  }
}

.futterline {
  /* border: 2px solid red;
  width: 11%;
  margin-top: -1%; */

  border: 2px solid red;
  width: 13%;
  margin-top: -12px;
}

@media (max-width: 414px) {
  .futterline {
    width: 55%;
  }
}

.inner h2 {
  /* border: 2px solid red; */
  padding-bottom: 5%;
  /* color: rgb(40, 136, 31); */
}

.futtemp {
  display: flex;
  gap: 20%;
  /* padding-left: 5%; */
}

/* @media (max-width: 414px) {
  .futtemp  { 
    flex-direction: column;
  }
} */

@media (max-width: 1024px) {
/* @media (max-width: 960px) { */
  .futtemp {
    flex-direction: column;
    /* width: 100%; */
    /* flex-direction: column; */
    /* size: 20%; */
    /* display: none; */
    gap: 50px;
  }
}

.contflex1 {
  /* background-color: rgb(27, 26, 26); */
  /* border: 2px solid red; */
  border-radius: 20px;
  padding: 30px 30px;
}

@media (max-width: 477px) {
  .contflex1 {
    /* width: 55%; */
    /* flex-direction: column; */
    /* size: 20%; */
    /* display: none; */
    /* width: 20%; */
    /* padding: 10px 10px; */
    padding: 10px 10px;
  }
}

.contflex1 img {   
  border-radius: 20px;
  width: 110%;
  /* display: flex; */
}

@media (max-width: 543px) {
  .contflex1 img {
    width: 100%;
    /* flex-direction: column; */
    /* size: 20%; */
    /* display: none; */
  }
}

.contflex1 h4 {
  padding-top: 20%;
}

.contflex2 {
  display: flex;
  gap: 40%;
}

/* .secondflex{
  padding: 25% 30%; */
/* border: 1px solid red; */
/* width: 70%; */
/* } */

.secondflexbody {
  /* border: 1px solid rgba(231, 213, 180, 0.754); */
  width: 30%;
  padding: 4% 10% 5% 4%;
  border-radius: 20px;
  /* width: 90%; */
  /* background-color: rgba(238, 238, 238, 0.754); */
  /* background-color: rgba(255, 255, 255, 0.614); */
  /* background-color: rgb(27, 26, 26); */
}

@media (max-width: 543px) {
  .secondflexbody {
  }
}
