.project01{
  /* background-color: rgba(0, 0, 0, 0.951); */
    background-color: black;
}
.project0{
  margin: 0 auto;
  max-width: 2000px;
}
.projectbody {
  background-color: rgb(0, 0, 0);
  padding: 10% 15%;
}

@media (max-width: 414px) {
  .projectbody { 
      padding: 18% 3% 15% 3%;
  }
}

.projectline {
  border: 2px solid red;
  width: 15%;
  margin-top: -12px;
}

@media (max-width: 414px) {
  .projectline {
    width: 45%;
  }
}

.project {
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 4% 0%;
}
@media (max-width: 881px) {
  .project {
    flex-direction: column;
    /* padding-bottom: 15%; */
    width: 100%;
  }
}





@media (max-width: 881px) {
  .proimg1 {
    padding-bottom: 7%;
    width: 100%;
  }
}

.proimg1 img {
  border-radius: 25px;
}

.proimg1 img:hover {
  width: 90%;
  color: rgb(255 87 87);
  border: 10px solid rgb(255, 0, 0);
}

@media (max-width: 881px) {
  .proimg1 img {
    width: 100%;
    border-radius: none;
  }
}









.proimg2 img {
  border-radius: 25px;
  width: 90%;

}

.proimg2 img:hover {
  width: 90%; 
  color: rgb(255 87 87);
  border: 10px solid rgb(255, 0, 0);
}

@media (max-width: 579px) {
/* @media (max-width: 881px) { */
  .proimg2 img {
    width: 100%;
    border-radius: none;
  }
}











.button{
  width: 90px;
  height: 30px;
  border-radius: 30px;
  background-color: red;
  color: white;
  margin: 0 auto;
}

.button:hover{
  width: 100px;
  background-color: white;
  color: red;
}

.pro1h1{
  color: white;
  font-family:"raleway";
  
}
/* .pro1h1 h1{
  text-decoration: none;
} */

.firstweb{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 370px) {
.firstweb {
  display: grid;
  grid-template-columns: 1fr;
  }
}